.field-gradient {
    background: linear-gradient(0deg, #055719, #44a058, #85e99b, #00D4FF);
}

#battleTerminal {
    background: linear-gradient(0deg, #4d4e4d, #e6ece8, #e6ece8, #424546);
    border-top: 4px solid darkgray;
}

.battle-message{
    border-radius: 5px;
    background-color:white;
    border: 3px solid rgb(53, 53, 49);
    font-size: 1.5rem;
    font-weight: bold;
}

.pokeGif{
    max-height: 20vh;  
}

.brokeContent{
    background-color:#EEF5FF;
    font-size: 1.2rem;
    padding-bottom:10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

#battleSpriteBack{
    height: 25svh;
}

#battleSpriteFront{
    height: 35svh;    
}

.battle-button{
    cursor:pointer;
    border-radius:5px;
    border: 3px solid rgba(0, 0, 0, .3);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:3px;
    font-weight:bold;
    text-shadow:1px 1px 1px #000;
}

.typeBadge{
    border-radius: 3px;
    padding: 2px;
    font-weight:bold;
    text-shadow:1px 1px 1px #000;
}
  
.PoisonBadge{
    background-color: #AA6BC8;
    color: white;
}
  
.DarkBadge{
    background-color: #5A5465;
    color: white;
}
  
.GrassBadge{
    background-color: #63BC5A;
    color: white;
}
  
.SteelBadge{
    background-color: #5A8EA2;
    color: white;
}
  
.BugBadge{
    background-color: #91C12F;
    color: white;
}
  
.FightingBadge{
    background-color: #CE416B;
    color: white;
}
  
.NormalBadge{
    background-color: #929DA3;
    color: white;
}
  
.WaterBadge{
    background-color: #5090D6;
    color: white;
}
  
.RockBadge{
    background-color: #C5B78C;
    color: white;
}
  
.FireBadge{
    background-color: #FF9D55;
    color: white;
}
  
.GroundBadge{
    background-color: #D97845;
    color: white;
}
  
.IceBadge{
    background-color: #73CEC0;
    color: white;
}
  
.FlyingBadge{
    background-color: #8FA9DE;
    color: black;
}
  
.ElectricBadge{
    background-color: #F4D23C;
    color: black;
}
  
.PsychicBadge{
    background-color: #FA7179;
    color: white;
}
  
.FairyBadge{
    background-color: #EC8FE6;
    color: black;  
}
  
.GhostBadge{
    background-color: #5269AD;
    color: white;
}
  
.DragonBadge{
    background-color: #0B6DC3;
    color: white;
}