.field-gradient {
    background: linear-gradient(0deg, #055719, #44a058, #85e99b, #00D4FF);
}

#battleTerminal {
    background: linear-gradient(0deg, #4d4e4d, #e6ece8, #e6ece8, #424546);
}

.battle-message{
    border-radius: 5px;
    background-color:white;
    border: 3px solid rgb(53, 53, 49);
    font-size: 1.5rem;
    font-weight: bold;
}

.pokeGif{
    max-height: 20vh;  
}

.brokeContent{
    background-color:#EEF5FF;
    font-size: 1.2rem;
    padding-bottom:10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

#battleSpriteBack{
    height: 25svh;
}

#battleSpriteFront{
    height: 35svh;    
}

.battle-button{
    cursor:pointer;
    border-radius:5px;
    border: 3px solid rgba(0, 0, 0, .3);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:3px;
    font-weight:bold;
    text-shadow:1px 1px 1px #000;
}

.typeBadge{
    border-radius: 3px;
    padding: 2px;
    font-weight:bold;
}
  
.PoisonBadge{
    background-color: purple;
    color: white;
}
  
.DarkBadge{
    background-color: black;
    color: white;
}
  
.GrassBadge{
    background-color: green;
    color: white;
}
  
.SteelBadge{
    background-color: darkgrey;
    color: black;
}
  
.BugBadge{
    background-color: yellowgreen;
    color: black;
}
  
.FightingBadge{
    background-color: darkred;
    color: white;
}
  
.NormalBadge{
    background-color: darkgrey;
    color: white;
}
  
.WaterBadge{
    background-color: blue;
    color: white;
}
  
.RockBadge{
    background-color: burlywood;
    color: black;
}
  
.FireBadge{
    background-color: red;
    color: white;
}
  
.GroundBadge{
    background-color: brown;
    color: white;
}
  
.IceBadge{
    background-color: lightblue;
    color: black;
}
  
.FlyingBadge{
    background-color: skyblue;
    color: black;
}
  
.ElectricBadge{
    background-color: yellow;
    color: black;
}
  
.PsychicBadge{
    background-color: palevioletred;
    color: white;
}
  
.FairyBadge{
    background-color: pink;
    color: black;  
}
  
.GhostBadge{
    background-color: darkblue;
    color: white;
}
  
.DragonBadge{
    background-color: indigo;
    color: white;
}