body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-link {
  color: #61dafb;
}

header{
  background-color: #EEF5FF;
  font-size: 1.3rem;
}

.contentArea{
  background-color:#EEF5FF;
  font-size: 1.2rem;
  max-height: 90vh;
  overflow-y:auto;
  padding-bottom:10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

#resumeFrame {
  min-height: 70vh;
}

#bcFrame{
  max-width:1084px;
  max-height:900px;
  height: 75vh;
  width:100%;
}

#rocketFrame, #canyonFrame, #expFrame{
  width:965px;
  height:584px;
  overflow:hidden;
}

a{
  font-weight: bold;
}

.stinkinBadge{
  cursor:pointer;
  box-shadow:2px 2px 3px #000; 
  background-color:rgba(205, 245, 253, .3);
}

.stinkinBadge:hover{
  cursor:pointer;
  box-shadow:1px 1px 1px #000; 
  background-color:rgba(105, 123, 125, .3);
}

.pokeGif{
  max-height: 20vh;  
}

.typeBadge{
  border-radius: 3px;
  padding: 2px;
  font-weight:bold;
}

.PoisonBadge{
  background-color: purple;
  color: white;
}

.DarkBadge{
  background-color: black;
  color: white;
}

.GrassBadge{
  background-color: green;
  color: white;
}

.SteelBadge{
  background-color: darkgrey;
  color: black;
}

.BugBadge{
  background-color: yellowgreen;
  color: black;
}

.FightingBadge{
  background-color: darkred;
  color: white;
}

.NormalBadge{
  background-color: darkgrey;
  color: white;
}

.WaterBadge{
  background-color: blue;
  color: white;
}

.RockBadge{
  background-color: burlywood;
  color: black;
}

.FireBadge{
  background-color: red;
  color: white;
}

.GroundBadge{
  background-color: brown;
  color: white;
}

.IceBadge{
  background-color: lightblue;
  color: black;
}

.FlyingBadge{
  background-color: skyblue;
  color: black;
}

.ElectricBadge{
  background-color: yellow;
  color: black;
}

.PsychicBadge{
  background-color: palevioletred;
  color: white;
}

.FairyBadge{
  background-color: pink;
  color: black;

}

.GhostBadge{
  background-color: darkblue;
  color: white;
}

.DragonBadge{
  background-color: indigo;
  color: white;
}

.bgc{
  background-color:#86B6F6;
  padding:0px;
  background-image: url('./static/gr/waves.svg');
  background-blend-mode: multiply;
  background-size:100%;
}

.demoCard{
  cursor:pointer;
  box-shadow: 1px 1px 3px #000;
}